<nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-aos="fade-down" style="opacity: 0.8; font-family: 'Courier New', Courier, monospace; font-size: 22px;">
  <a class="navbar-brand col-3 title" href="/cocktails">Mister Cocktails</a>
  <p class="col-2"><%= image_tag "iconCocktail.png", alt: "Le Wagon", width: 70 %></p>
  

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item new-cocktail"><span id="top-bar"></span> <%= link_to "Add New Cocktail ", new_cocktail_path, class: "nav-link" %> <span id="bottom-bar"></span> </li>
      
    </ul>

    <form class="form-inline my-2 my-lg-0" method="get" action="/find">
      <input class="form-control mr-sm-2 text-color-green" type="text" name="search" placeholder="Search by ingredient">
      <button class="btn btn-secondary my-2 my-sm-0 btn-search" type="submit">Search</button>
    </form>
  </div>
</nav>