<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="opacity: 1; font-family: 'Courier New', Courier, monospace; font-size: 22px;">
  <a class="navbar-brand col-4 title" href="/cocktails">Mister Cocktails</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item new-cocktail"><span id="top-bar"></span> <%= link_to "Add New Cocktail ", new_cocktail_path, class: "nav-link" %> <span id="bottom-bar"></span> </li>
      
    </ul>

    <form class="form-inline my-2 my-lg-0" method="get" action="/find">
      <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>